{% extends "home/base.html" %}

{% block content %}
    <div class="container">
    	<h1>About us</h1>
        <p>This a mini project made by Keshav dargad, Manan Joshi and Rajkaran Mishra for there Second year mini project, Under guidance <b> Silviya Madam </b>, The UI is Designed By manan and UI is developed by keshav and backend was handled by rajkaran.</p>
        <p> <b> Also thanks to open source community like: </b><br></p>
        <p>Boostrap</p>        
        <p>NASA's API</p>
        <p>Michalsnik's AOS library</p>
        <p>Space Flight News API</p>
        <p>Open Notify API</p>
    </div>
{% endblock %}
